/* Slideshow  */

.home {
	width: 100%;
}

.slideshow-container {
	width: 100%;
	position: relative;
	margin: 0;
	& img {
		width: 100%;
		height: 700px;
		aspect-ratio: 3/2;
		object-fit: cover;
		mix-blend-mode: color-burn;
	}
}

.arrow-right {
	position: absolute;
	top: calc(50% - 17.5px);
	background: transparent;
	z-index: 10;
	cursor: pointer;
	font-size: 90px;
	color: rgb(47, 43, 43, 0.15);
	-webkit-transition: opacity 0.25s;
	transition: opacity 0.25s;
	left: initial;
	right: 20px;

	& :hover {
		color: rgb(47, 43, 43, 0.8);
	}
}
.arrow-left {
	position: absolute;
	top: calc(50% - 17.5px);
	background-color: transparent;
	z-index: 10;
	cursor: pointer;
	font-size: 90px;
	color: rgb(47, 43, 43, 0.15);
	-webkit-transition: opacity 0.25s;
	transition: opacity 0.25s;
	left: 20px;
	right: initial;

	& :hover {
		color: rgb(47, 43, 43, 0.8);
	}
}

.dot-active {
	position: relative;
	top: -30px;
	display: flex;
	border-radius: 6px;
	height: 5px;
	width: 30px;
	background: rgb(22, 21, 21, 0.7);
	margin: 0 8px;
}
.dot {
	position: relative;
	top: -30px;
	display: flex;
	border-radius: 6px;
	height: 3px;
	width: 30px;
	background: rgb(22, 21, 21, 0.15);
	margin: 0 8px;
}
// band
.brand-home {
	width: 100%;
	margin: 70px 0;
}
.brand-title {
	padding-left: 30px;
}
.brand-title__h2 {
	text-align: center;
	position: relative;

	font-size: 3.5rem;
	font-weight: 400;
}
.brand-line {
	display: block;
	width: 390px;
	height: 1px;
	position: absolute;
	left: 635px;
	top: 43px;
	border: 1px solid rgb(22, 21, 21, 0.35);
}
//brand content
.brand-wrapper {
	width: 1000px;
	margin: 50px auto;
}
.brand-content {
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
}

.brand-card {
	width: 200px;
	height: 400px;
	padding-left: 15px;
}

.link-brand {
	display: flex;
	width: 100%;
	height: 50%;
	margin-bottom: 10px;
	border: 1px solid rgb(35, 32, 32, 0.2);
	border-radius: 20px;
	align-items: center;
	padding: 0 10px;
}

.brand-img {
	width: 100%;
	height: 80%;
	object-fit: contain;
}
//line
.line-show {
	margin: auto;
	width: 70%;
	overflow: visible;
	text-align: inherit;
	border: 0;
	border-top: 1px solid #e5e5e5;
}
//product
.product-wrapper {
	width: 100%;
	height: 550px;
	margin: 60px 0;
}

.product-title {
	width: 100%;
}

.product-title__h2 {
	width: 100%;
	text-align: center;
	font-weight: 400;
	font-size: 3.5rem;
}

.product-item__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 25px 0;
}

.item-product {
	font-size: 2.4rem;
}

.product__wrapper {
	width: 100%;
	margin: 30px auto;
}

.product-item__chidren {
	width: 100%;
	height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid rgb(35, 32, 32, 0.2);
	border-radius: 10px;
	margin: 0;
}

.product-item__Link {
	width: 100%;
	height: 60%;
}

.image-item {
	width: 100%;
	height: 100%;
	object-fit: contain;
	aspect-ratio: 3/2;
	transition: transform 0.8s ease-in 0.1s;

	&:hover {
		transform: scale(1.2);
		transition: transform 0.8s ease-out 0.1s;
	}
}
.product-item__body {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.product-item__title {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 7px 0;
	&::after {
		width: 35%;
		content: '';
		height: 1px;
		position: absolute;
		bottom: 0;
		border-bottom: 1px solid #333;
	}
}
.product-item__content {
	margin: 5px 0;
	text-align: center;
}
.product-item__price {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 8px;
}

// shop

.container {
	width: 90%;
	margin: auto;
}

.container__aa {
	width: 100%;
	margin: 50px 0;
}

.shop-title {
	width: 100%;
	display: flex;
	justify-content: center;
}

.shop-title__h2 {
	font-size: 3.5rem;
	font-weight: 500;
	text-align: center;
}

.shop-content {
	width: 75%;
	display: flex;
	margin: 3rem auto;
	justify-content: center;
}

.shop-item {
	width: 33%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-left: 30px;
}
.shop-icon {
	font-size: 7rem;
	height: 15%;
	color: rgb(51, 51, 51, 0.7);
}

.shop-item__title {
	margin: 8px 0;
	font-size: 2.5rem;
	display: flex;
	align-items: center;
	height: 20%;
}

.shop-item__content {
	margin: 5px 0;
	font-size: 2rem;
	height: 40%;
}

@media only screen and (max-width: 800px) {
	.slideshow-container {
		& img {
			width: 100%;
			height: 400px;
			aspect-ratio: 3/2;
			object-fit: contain;
			mix-blend-mode: color-burn;
		}
	}

	.arrow-right {
		font-size: 30px;
	}

	.brand-wrapper {
		width: 100%;

		margin: 10px auto;
	}
	.brand-content {
		width: 100%;

		display: flex;
		flex-wrap: wrap;
	}
	.brand-card {
		width: 50%;
		height: 400px;
		padding: 0 10px;
		margin-top: 20px;
	}
	.brand-card.d-flex {
		width: 100%;
		display: flex;
		padding: 0 10px;
		height: 200px;
	}
	.link-brand.flex-margin {
		margin-left: 10px;
	}
	.link-brand.height {
		height: 100%;
	}

	.shop-content {
		flex-direction: column;
	}

	.shop-item {
		width: 100%;
		margin-top: 20px;
	}
	.shop-icon {
		font-size: 3rem;
		height: 10rem;
	}
}
