.header {
	width: 100%;
	height: 95px;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	border-bottom: 1px solid rgb(24, 23, 23, 0.3);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.header-onScroll {
	visibility: hidden;
	width: 100%;
	height: 0;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	background-color: #fff;
	z-index: 999;
	border-bottom: 1px solid rgb(24, 23, 23, 0.3);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.header-onScroll__visible {
	visibility: visible;
	width: 100%;
	height: 95px;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	z-index: 999;
	background-color: #fff;
	border-bottom: 1px solid rgb(24, 23, 23, 0.3);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: visibility 1s ease-in 0.1s;
}

.menu {
	margin-left: 8px;
	align-items: center;
	display: flex;
}

.logo {
	width: 18rem;
	height: 100%;
	font-size: 3.2rem;
	position: absolute;
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
}

.svg-logo {
	width: 150px;
	height: 130px;
	position: absolute;
	top: -15%;
	right: 25%;
}

// action

.action {
	width: 150px;
	height: 100%;
	align-items: center;
	text-align: center;
	position: relative;
}
