.account-wrapper {
	width: 100%;
	margin-top: 80px;
}

.account-content {
	width: 80%;
	margin: auto;
}

.account-content__wrapper {
	width: 400px;
	margin: auto;
}

.account-content__body {
	width: 100%;
}

// sign up
.account-signup {
	width: 100%;
}

.signup-container {
	padding: 0 10px;
}

.row {
	margin: 8px 0;
}

.row > input {
	width: 100%;
	height: 40px;
	border-radius: 5px;
	padding-left: 10px;
	border-color: #a5a1a1;

	&:focus-visible {
		outline: 1px solid #333;
	}
}

.account-fontsize {
	font-size: 2rem;
}

.btn-signup__wrapper {
	width: 50%;
	margin: auto;
}
.btn-signup {
	width: 100%;
	height: 40px;
	background-color: rgb(51, 51, 51, 0.8);
	color: #fff;
	border-radius: 5px;
	margin-top: 25px;

	&:active {
		background-color: #000;
	}

	&:hover {
		background-color: #000;
	}
}

.checkbox-login {
	width: 15px !important;
	height: 15px !important;
	margin-right: 8px;
}

.checkbox {
	margin-top: 15px;
}

.forgot-password {
	margin-top: 15px;
	display: block;
	width: 100%;
	text-align: center;
	color: #064c7a !important;

	&:hover {
		text-decoration: underline !important;
	}
}
