.wrapper {
	z-index: 20;
}

.btn-menu {
	border: none;
	color: rgb(24, 23, 23, 0.8);
	width: 40px;
	height: 40px;
	font-size: 25px;
	margin-left: 50px;
	background-color: transparent;
	position: relative;
}
.menu-fullbox {
	visibility: hidden;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	transition: visibility 0.3s ease-out 0.1s;
}
.menu-fullbox-visible {
	visibility: visible;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	transition: visibility 0.3s ease-in 0.1s;
}

.menu-box {
	width: 360px;
	height: 100%;
	background-color: #fff;
	position: absolute;
	top: 0;
	transform: translateX(-360px);
	z-index: 1;
	transition: transform 0.3s ease-out 0.1s;
}

.menu-box-visible {
	width: 360px;
	height: 100%;
	background-color: #fff;
	position: absolute;
	top: 0;
	z-index: 1;
	transform: translateX(0);
	transition: transform 0.3s ease-out 0.1s;
	// animation: menu-slice ease-out 0.4s;
}

@keyframes menu-slice {
	from {
		transform: translateX(-360px);
		transform-origin: -360px 0 0;
	}
	to {
		transform: translateX(0);
		transform-origin: -360px 0 0;
	}
}

.overlay__actived {
	width: 100%;
	height: 100%;
	background-color: rgb(33, 32, 32, 0.3);
	z-index: -1;
}

// menu box
.header-menu {
	display: flex;
	height: 60px;
	width: 100%;
	align-items: center;
	padding: 0 20px;
	justify-content: space-between;
	background-color: rgb(76, 69, 69, 0.06);
	position: relative;
	border-bottom: 1px solid rgba(14, 14, 14, 0.08);
}

.link-signup {
	text-decoration: none;
	color: #000;
	position: absolute;
	top: 36%;
	left: 43%;
}
.Signup-menu {
	flex: 1;
	height: 100%;
}

.menu-user {
	position: absolute;
	top: 36%;
	left: 34%;
}
.close-menu {
	border: none;
	background-color: transparent;
	position: absolute;
	top: 38%;
	left: 90%;
}
// content menu
.content-menu {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.wrapper-ul {
	width: 100%;
}

.wrapper-li {
	height: 73px;
	width: 100%;
	position: relative;
}

.div-li {
	display: flex;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	padding: 12px 20px;
}
.link-li {
	padding-left: 20px;
}

.wrapper-popper__menu {
	width: 300px;
	height: 50vh;
	background-color: #fff;
	position: absolute;
	top: -36px;
	left: -10px;

	&:hover {
		background-color: #000;
	}
}
