.footer-wrapper {
	width: 100%;
	margin-top: 30px;
}
.footer-icon {
	width: 50%;
	height: 50px;
	margin: 20px auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer-icon__item {
	height: 100%;
	width: 25%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 2.5rem;
}

//content
.footer-content {
	width: 100%;
	height: 400px;
	background-color: #000;
	display: flex;
	align-items: center;
}
.footer-content-loi {
	width: 80%;
	height: 80%;
	margin: auto auto;
}

.footer-content__wrapper {
	width: 100%;
	height: 100%;
	color: #fff;

	display: flex;
}

.footer-content__item {
	width: 33.3333%;

	align-items: center;
	display: flex;
}

.footer-conten-align {
	width: 100%;
	height: 80%;
	align-items: center;
	display: flex;
	text-align: center;
	color: #fff;
	flex-direction: column;
	margin: 20% auto;
}

.footer-content__title {
	text-align: center;
	font-size: 3.5rem;
	margin: 15px 0;
}

.footer-content__body {
	text-align: center;
	display: flex;
	flex-direction: column;

	& a {
		color: #fff !important;
		font-size: 1.9rem;
		margin-top: 15px;
	}
}

.footer-content__itemlargest {
	width: 33.3333%;
	align-items: center;
	display: flex;
}

// end
.footer-end {
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
}

.footer-end__body {
	width: 100%;
	text-align: center;
	font-size: 1.9rem;
}
