.cart-shoping {
	background-color: transparent;
	border: none;
	color: rgb(64, 57, 57, 0.6);
	font-size: 2.7rem;
	width: 30%;
	height: 40%;
	position: absolute;
	top: 37%;
	left: 0;
	z-index: 999;

	&:hover {
		font-size: 3rem;
		color: rgb(64, 57, 57, 0.9);
	}
}
.icon-cart {
	z-index: 1;
}
.cart-shoping__active {
	background-color: transparent;
	border: none;
	color: rgba(15, 15, 15);
	font-size: 2.7rem;
	width: 30%;
	height: 40%;
	position: absolute;
	top: 37%;
	left: 0;
	z-index: 999;
}

.cart-shooping {
	width: 400px;
	max-height: 100vh;
	background-color: #f1eaea;
	border-radius: 5px;
}

//menuitem

.cart-item__wrapper {
	width: 100%;
}
.image-item {
	width: 40px;
	height: 60px;
}

.cart-ul {
	width: 100%;
	height: 100%;
}
.li-item {
	list-style: none;
	width: 100%;
	border-bottom: 1px solid rgb(23, 22, 22, 0.07);
}

.item-wrapper {
	display: flex;
	height: 100px;
}

.product-item__image {
	width: 25%;
	border-right: 1px solid rgb(23, 22, 22, 0.07);
}

.image-item {
	width: 100%;
	height: 100%;
	object-fit: contain;
	aspect-ratio: 2/3;
}

.product-item {
	width: 65%;
	display: flex;
	flex-direction: column;
	padding: 10px 15px;
	text-align: left;
	border-right: 1px solid rgb(23, 22, 22, 0.07);
}

.product-item__name {
	font-size: 2.2rem;
}

.trash-item {
	width: 10%;
	display: flex;
	align-items: center;
}

.trash-button {
	width: 100%;
	border: none;
	background-color: transparent;
	font-size: 1.8rem;
}

.so-luong {
	margin-top: 10px;
}

.cart-item__bottom {
	width: 100%;
	height: 60px;
	padding: 5px 10px;
	align-items: center;
	display: flex;
}

.cart-btn {
	width: 80%;
	height: 80%;
	margin: auto;
	background-color: #333;
	border-radius: 2px;
	color: #fff;
}

// no product

.noproduct-wrapper {
	width: 100%;
	height: 100px;
	padding: 5px 5px;
}

.image-noproduct {
	width: 30%;
	height: 70%;
	margin: auto;
}

.image {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

// cart quantity

.cart-quantity {
	width: 18px;
	height: 18px;
	border-radius: 999px;
	background-color: #333;
	position: absolute;
	top: -7px;
	left: 27px;
}

.cart-quantity-hidden {
	visibility: hidden;
}

.cart-number {
	font-size: 1.5rem;
	color: #fff;
	position: absolute;
	top: -5px;
	left: 5px;
}
