.product-detail__top {
	margin-top: 30px;
}
.uk-subnav.align-left {
	justify-content: flex-start !important;
	margin-left: -40px;
	font-weight: 600;
}

.item-product {
	padding-left: 40px !important;
	font-size: 2.7rem;
}
