.product-wrapper {
	width: 100%;
}
.container {
	width: 100%;
	padding: 0 20px;
}

.product-content {
	width: 100%;
	display: flex;
	margin-bottom: 3rem;
}

.content-left {
	width: 50%;
}

.content-image {
	width: 100%;
	height: 500px;
}

.image-product {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.description {
	width: 100%;
}

.description-title {
	font-size: 3.5rem;
	margin: 10px 0;
}

.description-content {
	text-align: left;
}

.content-right {
	width: 50%;
	margin-top: 50px;
}

.summary {
	width: 100%;
	padding-left: 15%;
}

.brand-name {
	color: #333;
}

.prouct-title__entire {
	margin: 25px 0;
}

.gender-icon {
	color: rgba(64, 57, 57, 0.6);
}

.gender-name {
	margin-left: 8px;
}

.price {
	margin: 25px 0;
	font-size: 3.2rem;
}
.dungtich-wrapper {
	width: 100%;
}
.dungtich-title {
}

.dungtich-sel {
	width: 25%;
	height: 30px;
	border: none;
	border-bottom: 1px solid #000;
	box-sizing: border-box;
	margin-left: 5%;

	&:focus {
		outline: none;
	}
}

// gio hang
.add-to__cart__wrapper {
	width: 100%;
	display: flex;
	margin-top: 20px;
	height: 50px;
}
// quantity
.quantity__wrapper {
	width: 25%;
	display: flex;
	position: relative;
}
.quantity-title__plus {
	font-size: 1rem;
	position: absolute;
	display: flex;
	right: 0;
	top: 0;
	width: 20px;
	height: 22px;
	align-items: center;
	padding-left: 3px;
	cursor: pointer;
}

.quantity-value {
	width: 100%;
	height: 100%;
	padding: 0 30px;
	font-size: 2rem;
}

.quantity-title__minus {
	font-size: 1rem;
	position: absolute;
	width: 20px;
	height: 22px;
	display: flex;
	right: 0;
	bottom: 0;
	align-items: center;
	padding-left: 3px;
	cursor: pointer;
}

.button-cart__wrapper {
	width: 75%;
	margin-right: 50px;
	margin-left: 8px;
}
.button-cart {
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: #000;
	color: #fff;
}
.frangment-list {
	list-style: none !important;
}
.ul-style {
	list-style: none;
	display: flex;
	margin-left: 50px;
	color: rgba(11, 11, 11, 0.8);
}
.frangment-list__li {
	width: 100%;
	display: flex;
	border-bottom: 1px solid rgb(124, 122, 122, 0.4);
	margin-top: 15px;
	padding-bottom: 8px;

	& span {
		width: 15%;
		font-weight: 600;
	}
}

.feature {
	& li {
		list-style: none;
		margin-bottom: 25px;

		& span {
			width: 20%;
			vertical-align: top;
			float: left;
			font-weight: 600;
			color: #000;
		}
	}
}
.feature > li > .fragant_saving {
	display: flex;
	position: relative;
	top: 6px;
}

.feature > li > .fragant_saving > div {
	position: relative;
	width: 100%;
	border-radius: 0.6rem;
	background: #f6f9fb;
	height: 0.8rem;
}
.feature > li > .fragant_saving > div > span {
	position: absolute;
	color: #86c3dd;
	border-radius: 50%;
	width: 21px;
	height: 21px;
	text-align: center;
	line-height: 21px;
	right: -1;
	background: #fff;
	top: -6px;
}

.feature > li > .fragant_saving > div.active {
	background: #86c3dd;
}

//seasion

.seasion > li {
	display: flex;
}

.season-wrapper > ul > li {
	list-style: none;
	list-style-type: none;
	color: #000;
	font-weight: 300;
	margin-bottom: 15px;
	font-size: 18px;
	text-transform: lowercase;
}

.seasion > li > span {
	width: 15%;
}

.seasion > li > ul {
	list-style-type: none !important;
}

.season-wrapper > ul > li > span {
	vertical-align: top;
	float: left;
	font-weight: 700;
	color: #000;
}

.season-wrapper > ul > li > ul {
	padding-left: 0px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.seasion > li > ul > li {
	list-style: none;
	display: flex;
	align-items: center;
	margin-bottom: 15px;
	background: initial;
	color: initial;
}
.seasion > li > ul > li > span {
	width: 12%;
	margin-right: 1.5rem;
}

.seasion > li > ul > li > div {
	width: 100%;
	border-radius: 6px;
	background: #f6f9fb;
	height: 6px;
	position: relative;
}

.seasion > li > ul > li > div > span {
	height: inherit;
	left: 0;
	top: 0;
	border-radius: inherit;
	position: absolute;
	background: #0a9ddc;
}

// product-relative
.product-relative {
	margin-top: 50px;
}

.product-relative-title {
	text-align: center;
	font-size: 2.5rem;

	margin-bottom: 30px;
}

.product-item__chidren {
	width: 100%;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid rgb(35, 32, 32, 0.2);
	border-radius: 10px;
	margin: 0;
}

.product-item__Link {
	width: 100%;
	height: 60%;
}

.image-item {
	width: 100%;
	height: 100%;
	object-fit: contain;
	aspect-ratio: 3/2;
	transition: transform 0.8s ease-in 0.1s;

	&:hover {
		transform: scale(1.1);
		transition: transform 0.8s ease-out 0.1s;
	}
}
.product-item__body {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.product-item__title {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 7px 0;
	&::after {
		width: 35%;
		content: '';
		height: 1px;
		position: absolute;
		bottom: 0;
		border-bottom: 1px solid #333;
	}
}
.product-item__content {
	margin: 5px 0;
	text-align: center;
}
.product-item__price {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 8px;
}
