.order-container {
	width: 80%;
	margin: 50px auto;
	display: flex;
}

.col-7 {
	width: 60%;
}

.col-3 {
	width: 40%;
	background-color: #fafafa;
	padding: 10px 10px;
}

.order-title {
	margin-bottom: 40px;
}

.order-name {
	text-align: center;
	font-size: 2.8rem;
	margin-bottom: 10px;
}

.order-price {
	display: flex;
	justify-content: space-between;
	font-size: 2rem;
	margin: 10px 0;
}

.order-product {
	margin-right: 20px;
	border-top: 1px solid #333;
}

.order-product__item {
	display: flex;
	border-bottom: 1px solid #333;
	padding: 15px 0px 15px 0px;
}
.order-product__item__image {
	width: 15%;
	height: 120px;
}
.image-product {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.order-product__item__name {
	width: 40%;
	padding-left: 30px;
}

.order-product__item__name > span {
	font-size: 2rem;
}

.product-name {
	margin-bottom: 10px;
	font-size: 2.2rem;
}

.order-product__quantity {
	width: 45%;
	position: relative;
}

.quantity {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 10px;
	position: relative;
	height: 40px;
}
.product-quantity {
	width: 60%;
	height: 40px;
	position: absolute;
	right: 0;
	z-index: 0;
	font-size: 2rem;
}

.quantity-plus {
	width: 15px;
	height: 15px;
	font-size: 1rem;
	right: 0;
	top: 5px;
	z-index: 1;
	position: absolute;
}

.quantity-minus {
	width: 15px;
	height: 15px;
	font-size: 1rem;
	right: 0;
	top: 25px;
	z-index: 1;
	position: absolute;
}
.delete-product {
	position: absolute;
	right: 0;
	border: none;
	background-color: transparent;
}

.order-product__voucher {
	margin-top: 20px;
}

.order-voucher {
	margin: 10px 0;
}

.order-voucher__value > input {
	border: none;
	border-bottom: 1px solid #333;
	width: 200px;
	height: 40px;
	margin-right: 8px;
}

.btn-voucher {
	width: 100px;
	height: 40px;
}

.order-process {
	display: flex;
	justify-content: center;
	margin-top: 25px;
}

.order-btn-process {
	height: 40px;
	padding: 10px 10px;
}

// modal confirm
.inp-wrapper {
	width: 100%;
	margin-top: 12px;
}

.inp {
	width: 100%;
	height: 40px;
	margin-top: 6px;
	border-radius: 4px;
}

.btn-confirm {
	width: 100%;
	margin-top: 25px;
	text-align: center;
}

.btn {
	width: 40%;
	height: 40px;
	margin: 0 15px;
	border-radius: 4px;
}
