@import 'normalize.css';

@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500;600;700&display=swap');
@import '../../node_modules/uikit/src/scss/variables.scss';
@import '../../node_modules/uikit/src/scss/mixins.scss';

@mixin hook-subnav-item-active() {
	border-bottom: 1px solid #333;
}

@mixin hook-subnav() {
	width: 100%;
	display: flex;
	justify-content: center;
}

.uk-switcher {
	width: 100%;
}
@import '../../node_modules/uikit/src/scss/components/switcher.scss';
@import '../../node_modules/uikit/src/scss/components/subnav.scss';
@import '../../node_modules/uikit/src/scss/components/modal.scss';
@import '../../node_modules/uikit/src/scss/components/margin.scss';
@import '../../node_modules/uikit/src/scss/components/animation.scss';

:root {
	--text-color: #000;
}

html {
	font-size: 62.5%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Cormorant', serif;
	font-size: 1.6rem;
	text-rendering: optimizeSpeed;
	font-weight: 500;
}
a[href] {
	color: var(--text-color);
	text-decoration: none;
}

input {
	border-width: 1px;
	border-style: solid;
	padding-left: 8px;
	font-family: 'Cormorant', serif;

	&:focus-visible {
		outline: none;
	}
}

button {
	border-width: 1px;
	border-style: solid;
	font-family: 'Cormorant', serif;
}

select {
	font-family: 'Cormorant', serif;
}
