.searchresult {
	width: 400px;
	max-height: 500px;
	background-color: #f0e8e8;
	border-radius: 10px;
}

.wrapper {
	padding: 10px 10px;
}

.title {
	border-bottom: 1px solid #333;
	padding: 10px 0;
}

.title > h3 {
	text-align: center;
}

.content {
	margin-top: 10px;
}

.item {
	display: flex;
	border-bottom: 1px solid #333;
}

.image {
	width: 35%;
}

.image-product {
	width: 100%;
	height: 100px;
	object-fit: contain;
	aspect-ratio: 3/2;
}

.product-title {
	margin-bottom: 10px;
}

.price {
	font-size: 2rem;
}
