.wrapper-search {
	display: flex;
	width: 40px;
	height: 60px;
	margin-left: 40px;
	align-items: center;
	position: relative;
	transition: width 1s ease-out;
	z-index: 1;

	&:has(.btn-search:hover) {
		width: 300px;
		height: 60px;
	}
}

.btn-search {
	border: none;
	font-size: 25px;
	color: rgb(24, 23, 23, 0.6);
	background-color: transparent;
	cursor: pointer;
}

.search-line {
	opacity: 0;
	width: 0;
	height: 0.5px;
	border: 0.5px solid rgba(16, 16, 16, 0.3);
	position: absolute;
	top: 50px;
	transition: width 0.34s ease-out, opacity 0.34s ease-out;
}

.search-line__open {
	opacity: 1;
	width: 250px;
	position: absolute;
	top: 50px;
	height: 1px;
	border: 1px solid rgb(41, 30, 30, 0.5);
	transition: width 0.34s ease-in, opacity 0.34s ease-in;
}

.wrapper-search-input__close {
	display: none;
	width: 0;
	float: right;
	height: 0.0625rem;
	opacity: 0;
	padding: 20px 0;
	margin: auto;
	transition: opacity 0.24s ease-out 0.17s, width 0.24s ease-out 0.17s;
}

.wrapper-search-input__open {
	display: block;
	width: 300px;
	height: 60px;
	padding: 20px 0;
	opacity: 1;
	margin: auto;
	transition: opacity 0.24s ease-in 0.17s, width 0.24s ease-out 0.17s;
}
.search-input {
	border: none;
	position: absolute;
	top: 3px;
	padding: 20px 20px;
	background-color: transparent;
	outline: none;
	font-size: 1.6rem;
	animation: input ease-out 0.34s;
}
@keyframes input {
	from {
		transform: scale(0);
		transform-origin: 0 50px 0;
		opacity: 0;
	}
	to {
		transform: scale(1);
		transform-origin: 0 50px 0;
		opacity: 1;
	}
}
.search-icon {
	color: rgb(41, 30, 30, 0.82);
}
